@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

:root {
    --primary: #BEF264;

}

body {
    margin: 0;
    font-family: 'Reggae One', cursive;
}

header {
    text-align: center;
    background-color: var(--primary);
}

header div {
    padding: 1rem;
    font-size: 2rem;

}

.container {
    box-sizing: border-box;

    text-align: center;
    max-width: 600px;
    font-size: large;
    padding: 1rem;
    margin: auto;
    margin-bottom: 2rem;
    background-color: white;

}

#txt-area {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    height: 20vh;
    display: block;
    font-family: inherit;
    margin: auto;
    margin-top: 2rem;

}

#btn-primary {
    box-sizing: border-box;
    display: block;
    padding: 1rem 2rem;
    border: none;
    background-color: var(--primary);
    font-family: inherit;
    font-size: 1rem;
    margin: 1rem 0rem;
}

#txt-output {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    margin: auto;
    width: 100%;
    max-width: 600px;
    height: 10vh;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--primary);
    text-align: center;
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
    padding: 1rem;

}

footer p {
    max-width: 600px;
    margin: auto;
}